
/* estilos para mobile*/
/* estilos de header*/
@import "../utilidades/variables";
@import"../utilidades/mixin";

//nesting 
header {
    @include flex;
    align-items: center;
    justify-content: space-between;

    nav {
        ul {
            list-style: none;
            color: $color-primary;
            display: flex;
            gap: 1rem;
        }
    }
}


main {
    @include grid(grid, 1fr, repeat(2, 30%));
    align-content: center;

    div {
        img {
            width: 50%;
            height: 50%;
            object-fit: cover;
            margin:0 auto;
        }
    }
}




footer {
    text-align: center;
    background-color:$color-primary;
    padding: 1rem;
    width: 100%;

}

