// hacer todo el css en comun de los html 
/* estilos para mobile*/
/* estilos de header*/
@import "../utilidades/variables";
@import"../utilidades/mixin";

//nesting 
header {
    @include flex;
    align-items: center;
    justify-content: space-between;

    nav {
        ul {
            list-style: none;
            color: $color-primary;
            display: flex;
            gap: 1rem;
        }
    }
}


main {
    @include grid(grid, 2fr, repeat(2, 30%));
    align-content: center;

    div {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

footer {
    text-align: center;
}

