//import variables
@import "../utilidades/variables";
@import"../utilidades/mixin";

@media screen and (min-width: 1024px) {

    body {
        display: flex;
        min-height: 100vh;
      }
   /* estilos de header*/
    header div nav ul {
        background-color:$color-primary;
        gap: 30px;
        align-items: center;
        justify-content: center;


    }

    header div nav ul li {
        @include flex;
        display: flex;
        list-style: none;
        text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2fr, 1fr);
        grid-template-rows:(50% 50%);
       gap: 10px;
       
        
        
    }
      
    .imagenes .carousel .carousel-inner .carousel-item img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
      
    main div {
        max-width:  100%;
        height: auto;
         display: flex;
        justify-content: center;
        align-items: center;
          
          }
    


    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:$color-primary;
        margin-top: auto;
        gap: 5rem;
    
      } 

      footer div p {

        display: flex;
        background-color:$color-primary;
        justify-content: center;
        gap: 5rem;
        padding: 1rem;
      } 
}